
/* .brain-img{
    display: block;
} */
.thought-with-brain{
    margin-top: 50px;
    width: 900px;
}
.thought{
   width: 7rem;
   height: 7rem;
}
/*  */
.brain{
    width: 40rem;
    position: relative;
    left: 7rem;
}
.middle-left{
    position: relative;
    left: 10rem;
}
.middle-right{
    position: relative;
    right: -5rem;
}
/* @media screen and (max-width: 992px) {
   .brain{
       width: 20rem;
   } 
} */
@media screen and (max-width: 600px) {
    .brain{
        width: 10rem;
        
    }
    .thought-with-brain{
        width: 400px;
    }
    .thought{
        width: 3rem;
        height: 3rem;
    }
    
}
